* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    background-image: url("chessbackground.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;

}

.container {
    display: flex;
    margin-left: 0px;
}

.chess-board {
    display: grid;
    border: 1px solid black;
    border-radius: 10px;
    grid-template-columns: repeat(8, 80px);
    grid-template-rows: repeat(8, 80px);
    margin: 50px 50px 50px 80px;
}

.white {
    background-color: wheat;
    color: rgb(72, 60, 33);
    position: relative;
}

.black {
    background-color: rgb(72, 60, 33);
    color: wheat;
     position: relative;
}

.menu {
    height: 710px;
    width: 200px;
    /* border: 2px solid white; */
    margin: 5px 0px 0px 5px;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;

}

.gamelogo {
    height: 100px;
    width: 200px;
    color: white;
}

.logo {
    background-image: url("logo.png");
    height: 100px;
    width: 100%;
    background-size: cover;
}

div .file {
    text-align: end;
    font-weight: bolder;
}

div .rank {
    text-align: left;
    margin-top: 80%;
    font-weight: bolder;
}

div .rank1 {
    text-align: left;
    margin-top: 58%;
    font-weight: bolder;
}

div .file2 {
    margin-top: 78%;
    text-align: end;
    font-weight: bolder;
}
.bnight{
    background-image: url("lit_top_pices/Chess_nlt45.svg");
    height: 100%;
    width: 100%;
    background-size: cover;

}   